:root {
  --textColor: #ffffff;
  --secondaryTextColor: rgba(255, 255, 255, 0.49);
  --backgroundColor: #2d3337;
  --greenColor:#64b32c;
  font-family: "Segoe UI", serif;
  font-style: normal;
}

.ace-tm{
  /*background-color: black;*/

}

.ace-tm .ace_gutter{
  /*background-color: #64b32c;*/
}
