.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.repo-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.repo-btn {
  padding: 10px 20px;
  font-size: 14px;
  background-color: var(--greenColor);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.repo-btn:hover {
opacity: 80%}


.repo-btn:focus {
  outline: none;
}
