<div class="dropdown">
  <button class="nav-button" (click)="toggleManagement()" [disabled]="editUserActive">User management</button>
  <button class="nav-button" (click)="toggleManagement()" [disabled]="!editUserActive">Group management</button>
</div>
@if (editUserActive) {
  <div class="container">
    <h2>User Management</h2>
    <br>
    <!-- Users-Liste -->
    <ul>
      @for (user of userService.allUsersOnRepo(); track user.userId) {
        <li>
          {{ user.userId }}
          <div class="button-group">
            <button class="edit" (click)="editUser(userService.selectedRepo()?.id,user)"><i
              class="ri-edit-box-line"></i>
            </button>
            <button class="delete" (click)="removeUser(user.userId)"><i
              class="ri-delete-bin-line"></i></button>
          </div>
        </li>
      }
    </ul>
    <br>
    <button class="add" (click)="navigationService.createNewUser()"><i
      class="ri-user-add-line"></i> Add User
    </button>
  </div>

}
@if (!editUserActive) {
  <div class="container">
    <h2>Group Management</h2>
    <br>
    <!-- Group-Liste -->
    <ul>
      @for (group of groupService.allGroupsOnRepo(); track group) {
        <li>
          {{ group }}
          <div class="button-group">
            <button class="edit" (click)="editGroup(group)"><i
              class="ri-edit-box-line"></i>
            </button>
            <button class="delete" (click)="removeGroup(group)"><i
              class="ri-delete-bin-line"></i></button>
          </div>
        </li>
      }
    </ul>
    <br>
    <button class="add" (click)="navigationService.createNerGroup()"><i
      class="ri-group-line"></i> Add Group
    </button>
  </div>
}

