<md-editor name="Content"
           [upload]="doUpload"
           [(ngModel)]="resourceService.fileContent"
           [height]="'637px'"
           [mode]="this.navigationService.mode()"
           [preRender]="preRenderFunc"
           [postRender]="postRenderFunc"
           (onEditorLoaded)="onEditorLoaded($event)"
           (onPreviewDomChanged)="onPreviewDomChanged($event)"
>
  <div custom-btns>
    <input #imgInput type="file" style="display: none" (change)="uploadImg($event)"/>
    <button type="button" class="btn btn-sm btn-default" (click)="imgInput.click()">Upload Img</button>
  </div>
</md-editor>

