@if (navigationService.toggle()) {
  <div class="left-sidebar">
    <nav class="nav flex-column">
      <ul>
        @for (file of fileService.files(); track file) {
          <li>
            <a [href]="getAssetUrl(file)"
               (click)="selectFile(file); $event.preventDefault()"
               [ngClass]="{'active': fileService.selectedFile() === file}">
              {{ file }}
            </a>
          </li>
        }
          <div class="upload">
            <i class="ri-file-upload-line ms-md-2" (click)="upload()"></i>
          </div>

          <div class="nav-admin"> <!-- ToDo: IF logged in as Admin-->
            <a routerLink="/main/admin" routerLinkActive="active" class="nav-admin"
               [routerLinkActiveOptions]="{ exact: true }">
              Admin
            </a>
          </div>
      </ul>
    </nav>
  </div>
}
