.left-sidebar {
  position: fixed;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--backgroundColor);;
  padding: 20px;
  overflow-y: auto;
}

ul {
  list-style: none;
  padding: 0;
}
li a {
  text-decoration: none;
  color: #64b32c;
  padding: 5px 10px;
  display: inline-block;
}
li a.active {
  font-weight: bold;
  color: #fff;
  background-color: #64b32c;
  border-radius: 4px;
}

.nav-admin{
  color: var(--textColor);
  font-size: 16pt;
  position: fixed;
  bottom: 15px;
  left: 100px;
  text-decoration: none;
}

.upload{
  font-size: 30px;
  position: fixed;
  bottom: 10px;
  color: var(--textColor);
}

.upload:hover{
  cursor: pointer;
}

.bottom{
  position: fixed;
  bottom: 10px;
}
