@if (navigationService.toggle()) {
  <div class="left-sidebar">
    <nav class="nav flex-column">
      <ul>
        @for (file of fileService.files(); track file) {
          <li>
            <a [href]="getAssetUrl(file)"
               (click)="selectFile(file); $event.preventDefault()"
               [ngClass]="{'active': fileService.selectedFile() === file}">
              {{ file }}
            </a>
          </li>
        }

        <div>
          <!-- ToDo: IF logged in as Admin-->
          <a routerLink="/main/admin" routerLinkActive="active" class="nav-admin"
             [routerLinkActiveOptions]="{ exact: true }">
            Admin
          </a>
        </div>


      </ul>
    </nav>
  </div>
}
