<nav class="navbar navbar-expand-lg navbar-dark fixed-top" >
  <button class="btn ms-3" type="button" (click)="onToggle()" ><span
    class="navbar-toggler-icon"></span></button>

  <ul class="navbar-nav ms-md-5 mb-lg-0" style="padding-left: 130px">
    <li class="nav-item">
      <a routerLink="/main/editor" routerLinkActive="active" class="nav-link"
         [routerLinkActiveOptions]="{ exact: true }">
        Editor
      </a>
    </li>
  </ul>

  @if (isEditorActive() || isPreviewActive()) {
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/main/preview" routerLinkActive="active" class="nav-link"
           [routerLinkActiveOptions]="{ exact: true }">
          Preview
        </a>
      </li>
    </ul>
  }

  <form class="search">
    <span class="ri-search-line" (click)="search()"></span>
    <input class="search-input" name="search" placeholder="Search" [(ngModel)]="searchTerm" (input)="search()">
  </form>

  <ul *ngIf="filteredFiles.length > 0" class="search-results">
    <div class="search-box" *ngFor="let file of filteredFiles">
      {{ file }}
    </div>
  </ul>


  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a routerLink="/login" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{ exact: true }">
        Profile
      </a>
    </li>
  </ul>

</nav>
